.buttons {
  text-decoration: none;
  color: #000;
  display: inline-block;
  padding: 10px 40px 10px 40px;
  position: relative;
  border: 3px solid #000;
  border-radius: 25px;
  cursor: pointer;
  margin: 10px;
}

.btn-delete {
  color: red;
  border: 3px solid red;
}
